
        <div>
            <img src="<%=details.image_url%> " alt="hi">
            <h3><%= details.title %> </h3>
            <p><%=details.author %> </p>
            <p><%= details.description %> </p>
            <p><%=details.isbn %> </p>
            <p><%=details.bookshelf %> </p>
        </div>
