<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book App</title>
    <!-- <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/base.css">
    <link rel="stylesheet" href="style/layout.css">
    <link rel="stylesheet" href="style/modules.css">
    <link rel="stylesheet" href="style/icons.css"> -->

</head>

<body>
<header>
    <%- include ('../../layout/header.ejs')  %> 

</header>
    <main>
        <% book.forEach(val=>{ %>
        <div>
            <h3><%= val.title %></h3>
            <img src="<%=val.image%>" alt="hi">
            <p><%= val.authors %> </p>
            <p><%= val.description %> </p>
            <form action="/books" method="POST">
                <input type="hidden" name="image" value="<%= val.image %> ">
                <input type="hidden"  name="authors" value="<%= val.authors %> " >
                <input type="hidden"  name="description" value="<%= val.description %> " >
                <input type="hidden"  name="title" value="<%= val.title %> " >
                <input type="hidden"  name="isbn" value="<%= val.isbn %> " >
                <input type="hidden"  name="bookshelf" value="<%= val.bookshelf %> " >

                <button type="submit"> select this book</button>

            </form>
        </div>

        <%})%>
    </main>

    <footer></footer>

</body>

</html>