<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../layout/head.ejs')  %> 


</head>

<body>
    <header>
        <%- include ('../../layout/header.ejs')  %>

    </header>
    <main>
        <% book.forEach((val,ind)=>{ %>
        <div>
            <h3><%= val.title %></h3>
            <img src="<%=val.image%>" alt="hi">
            <p><%= val.authors %> </p>
            <p><%= val.description %> </p>

            <!-- <button class="toSelect">select this book</button> -->
            <div class="selectform">
                <form action="/books" method="POST">
                    <input type="hidden" name="image" value="<%= val.image %> ">
                    <input type="hidden" name="authors" value="<%= val.authors %> ">
                    <input type="hidden" name="description" value="<%= val.description %> ">
                    <input type="hidden" name="title" value="<%= val.title %> ">
                    <input type="hidden" name="isbn" value="<%= val.isbn %> ">
                    <label for="bookshelf">bookshelf</label>
                    <input type="text" name="bookshelf" value="<%= val.bookshelf %> "><br />

                    <button type="submit" id="add">add this book </button>

                </form>
            </div>
        </div>

        <%})%>
    </main>

    <footer></footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>